.favorites {
  display: flex;
  margin: 3em;
  height: 80vh;
  gap: 10em;
}
.fav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}
.container-list > div > img {
  width: 120px;
}
