.feed-grid {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.card-title {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.list-icon {
  width: 25px;
}
.feed-header {
  display: flex;
  justify-content: space-between;
}
.feed {
  height: 85vh;
  margin: 6em 5em;
}
.feed-body {
  // display: flex;
  // justify-content: space-around;
  margin-top: 5em;
  gap: 3em;
}
.list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4em !important;
  margin-top: 2em !important;
}
.card {
  border: none !important;
}
.category-list {
  font-size: 1em;
}
.category-list:hover {
  color: yellowgreen;
}
.favorite-icon {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  width: 60px;
  font-size: 14px !important;
  font-weight: 700 !important;
}
.card-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.go4268192979,
.go2484888251 {
  position: absolute;
  bottom: 13px;
  right: 45px;
  display: block !important;
}

@media (max-width: 1250px) {
  .feed-grid {
    grid-template-columns: 0fr 0fr;
  }
}

@media (max-width: 900px) {
  .feed-grid {
    grid-template-columns: 0fr;
  }
}
@media (max-width: 650px) {
  .card {
    width: 16rem;
  }
}
